<!DOCTYPE HTML>
<html>
<head>
 <link href="/css/app.css" rel="stylesheet">
  <link href="/css/interact.css" rel="stylesheet">
  <link href="/css/min.css" rel="stylesheet">

</head>

<body class="all">

<button class="smooth btn-neg" id="start-button">Join us</button>


  <div class="row">

    <column class="c3" id="button-column">
      <div class="row button-container" id="recruit" >
        <div class="c4">
          <button class="smooth btn-gen btn-small">recruit</button>
        </div>
        <div class="c6" class="progress-bar" id="pb-gen">o</div><br><br>
      </div>


      <div class="row button-container" id="recruit" >
        <div class="c4">
          <button class="smooth btn-pos btn-small">pray</button>
        </div>
        <div class="c6" class="progress-bar" id="pb-pos">o</div><br><br>
      </div>


      <div class="row button-container" id="recruit" >
        <div class="c4">
          <button class="smooth btn-neg btn-small">sacrifice</button>
        </div>
        <div class="c6" class="progress-bar" id="pb-neg">o</div><br><br>
      </div>


    </column>


    <column class="c4">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Header</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1sadfasdfadsfasdfasdfasdfasdfasdfasdfasdfada</td>
            <td>5</td>
          </tr><tr>
            <td>2</td>
            <td>10</td>
          </tr><tr>
            <td>3</td>
            <td>500</td>
          </tr>
        </tbody>
      </table>

    </column>


    <column class="c3">
      <div class="message-neg">
        <message class="warning">
          Don't get hurt.
        </message><br>
      </div>

      <div class="message-pos">
        <message class="great">
          You have gained a follower.
        </message><br>
      </div>

      <div class="message-gen">
        <message>
          Something happened!
        </message>
      <div>
    </column>
  </div>


  <script type="text/javascript" src="/js/jquery-2.1.1.js"></script>
  <script type="text/javascript" src="/js/game.js"></script>


</body>
