
.all {
  background-color: #444455;
  margin: 0px, 0px;
}

.pic-row > li {
  display: inline-block;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.pic {
  border-radius: 100px;
}

.join {
  color: #810808;
  font-size: 60pt;
  font-weight: 900;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  text-align: right;
  margin-right: 120px;
}

.join > a {
  text-decoration: none;
  color: #810808;
}

.join > a:visited {
  color: #810808;
}

.join > a:hover {
  color: #444455;
}

.button-container > div {
  display: inline-block;
  vertical-align: top;
  float: left;
}
