.progress-bar {
    width: 0;
    background: #ACE;
    color: #ACE;
    text-align: center;
    overflow: hidden;
}

#pb-gen {
    width: 0;
    background: #ACE;
    color: #ACE;
    text-align: center;
    overflow: hidden;
}


#pb-pos {
    width: 0;
    background: #9D9;
    color: #9D9;
    text-align: center;
    overflow: hidden;
}


#pb-neg {
    width: 0;
    background: #D99;
    color: #D99;
    text-align: center;
    overflow: hidden;
}

